<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Introduction To UI
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul>
          <li>UI Developer Roles and Responsibilities</li>
          <li>Technologies needed</li>
          <li>Power of UI</li>
          <li>Current market requirements on UI</li>
          <li>Sample Webpages</li>
          <li>About Wireframes and Templates</li>
          <li>Web Architecture</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Introduction to HTML/HTML5 and overview of Web Page creation:
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li>Basic HTML Layout</li>
          <li>Creating a simple template with some paragraphs and headings</li>
          <li>To understand how to work on editors and run the files on browsers</li>
          <li>Inserting breaks and horizontal rules</li>
          <li>Formatting of web page content</li>
          <li>To learn about adding special characters</li>
          <li>Creating unordered lists, ordered lists & Nested lists</li>
          <li>Adding Images to web page</li>
          <li>Inserting links to web page. And connecting other web pages</li>
          <li>Learn to display the data in tabular form using html tables</li>
          <li>Creating frame based webpage using iframes</li>
          <li>Learn how to create forms in web pages using different html form elements</li>
          <li>Introduction to Div and Span tags. And to understand difference between Block Level Elements and Inline Elements</li>
          <li>Introduction to HTML5 and learn to work with its new features and elements</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Styling Web Pages using Cascading Style Sheets (CSS/CSS3)
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <ul>
          <li>Describing how to use stylesheets</li>
          <li>How to add inline stylesheet, internal and external stylesheet</li>
          <li>Use the Div and Span elements to add style</li>
          <li>Defining the use of class and Id</li>
          <li>Explaining how to apply border, background-color, font-color, margins, padding, height & width</li>
          <li>Understanding why we need Box Model</li>
          <li>Creating navigation bar and apply pseudo classes on it</li>
          <li>To learn how to change the position of elements using Position Property</li>
          <li>Practicing to work with Image Sprtites</li>
          <li>Introduction to CSS3 and learning how to apply new properties with browser compatibility</li>
        </ul>
      </div>
    </div>
  </div>
</div>
