*{
  padding: 0;
  margin: 0;
  font: 14px "Avenir",sans-serif;
}
.mainContainer{
  margin: 0 auto;
  width: 80%;
  text-align: center;

}
.mainContainer li{
  list-style-type: none;
  text-align: left;

}
.panel-body{
  margin: 0 auto;
}
.navBar{
  background-color: #222;
}
